.features
  // display: flex
  // flex-wrap: wrap
  font-size: 0
  // +clr

.feature
  position: relative
  display: inline-block
  vertical-align: top
  font-size: $fz
  z-index: 1
  width: 25%
  padding-right: 15px
  +md
    font-size: 13px
  +sm
    width: 50%
    padding-top: 15px
    padding-bottom: 15px
    &:nth-child(1)
      &::after
        transform: translate(0, 0)
        bottom: 0
        top: auto
    &:nth-child(3),
    &:nth-child(2),
      &::after
        display: none
    &:nth-child(4)
      &::after
        display: block
        z-index: -1
        transform: translate(0, 0)
        top: 0
  +xs
    width: auto
    margin-left: -15px
    margin-right: -15px
    padding-left: 15px
    padding-right: 15px
    &::before,
    &::after
      display: none !important
    &:nth-child(odd)
      background-color: #392073

  &::before
    content: ''
    position: absolute
    height: 500%
    top: 50%
    transform: translate(0, -50%)
    width: 1px
    background-color: #2f126f
    left: 0
    z-index: -1
  &::after
      content: ''
      position: absolute
      z-index: -1
      height: 500%
      width: 100%
      background-color: #392073
      top: 50%
      transform: translate(0, -50%)
      left: 0
      display: none
  &:nth-child(odd)
    &::after
      display: block
  &__nmb
    color: #a28cd3
    font-size: 43px
    border-bottom: 1px solid #ffc600
    display: inline-block
    min-width: 76px
    padding: 0 22px
    margin-bottom: 18px
    +css-lock(24, 43, 768, 1199, font-size)
    +css-lock(40, 76, 768, 1199, min-width)
    +md
      padding: 0 15px
  &__title
    margin-bottom: 30px
    height: 3.7em    
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-box-orient: vertical
    overflow: hidden
    -webkit-line-clamp: 2
    +xs
      height: auto
      margin-bottom: 10px
  &__text
    
