.priority-list
  // display: flex
  margin-left: -15px
  margin-right: -15px
  // flex-wrap: wrap
  font-size: 0
  +md
    margin-left: -10px
    margin-right: -10px
  +sm
    display: block
    font-size: 0
  +xs
    margin-left: 0
    margin-right: 0

.priority-item
  // display: block
  display: inline-block
  vertical-align: top
  font-size: $fz
  width: calc(25% - 30px)
  height: 320px
  text-align: center
  border: 9px solid  #0b0820
  position: relative
  margin-top: 65px
  margin-left: 15px
  margin-right: 15px
  padding-left: 10px
  padding-right: 10px
  padding-top: 125px
  padding-bottom: 85px
  +css-lock(35, 125, 768, 1199, padding-top)
  +css-lock(15, 85, 768, 1199, padding-bottom)
  +lg
    margin-top: 40px
  +md
    margin-left: 10px
    margin-right: 10px
    padding-left: 5px
    padding-right: 5px
    width: calc(25% - 20px)
  +sm
    margin-top: 30px
    width: calc(50% - 30px)
    display: inline-block
    vertical-align: top
    font-size: 13px
    height: auto
    min-height: 185px
  +xs
    margin-left: 0
    margin-right: 0
    width: auto
  &__inner
    height: 100%
  &__icon
    position: absolute
    left: 50%
    transform: translate(-50%, -55%)
    top: 0
    font-size: 0
    +lg
      transform: translate(-50%, -55%) scale(.6)
    +sm
      transform: translate(-50%, -55%) scale(.4)
  &__title
    margin-bottom: 5px
  &__text
    position: relative
    padding-bottom: 20px
    line-height: 1.2
    +lg
      br
        display: none
    &::before
      content: ''
      width: 76px
      height: 1px
      background-color: #ffc600
      position: absolute
      bottom: 0
      left: 50%
      transform: translate(-50%, 0)
