.slider
  .slick-dots
    text-align: center
    button
      background-color: rgba($c-accent, .4)
      +hidetext
      width: 10px
      height: 10px
      border-radius: 50%
    li
      display: inline-block
      margin-left: 5px
      margin-right: 5px
      &.slick-active
        button
          background-color: rgba($c-accent, 1)
  &__wrap
    position: relative
  &__prev,
  &__next
    position: absolute
    top: 50%
    background-color: transparent
    +sm
      display: none
  &__prev
    left: -100px
    +icon-arrow(20, 20, 1, #000, 45)
    transform: translate(0, -50%) rotate(45deg)
    +r(1620)
      left: -50px
    +r(1500)
      left: 0
  &__next
    right: -100px
    +icon-arrow(20, 20, 1, #000, -135)
    transform: translate(0, -50%) rotate(-135deg)
    +r(1620)
      right: -50px
    +r(1500)
      right: 0

.slide
  $this: &  
  +r(1500)
    padding-left: 15px
    padding-right: 15px
  +md
    text-align: center
    img
      display: inline-block
    #{$this}__img
      +cont(330)
  +sm
    padding-left: 0
    padding-right: 0
    #{$this}__img
      // display: none
