.team
  display: flex
  width: 100%
  height: 100%
  flex-wrap: wrap

.member
  $this: &
  width: 25%
  display: flex
  align-items: center
  flex-direction: column
  justify-content: flex-end
  +cover
  height: 100%
  position: relative
  text-align: center
  padding-bottom: 4%
  &:hover
    &::before
      opacity: 0
      visibility: hidden
    #{$this}__subttl ,
    #{$this}__title
      display: none  
  &::before
    content: ''
    +coverdiv
    background-color: rgba($c-accent, .7)
    z-index: 1
    transition: opacity .3s, visibility .3s
  +md
    height: 100vh
  +sm
    width: 50%
    height: 50vh
  &__subttl
    font-size: $fz
    color: #9d9d9d
    z-index: 2
    position: relative
  &__title
    position: relative
    z-index: 2
    padding-bottom: .2em
    margin-bottom: .2em
    &::before
      content: ''
      position: absolute
      bottom: 0
      left: 50%
      transform: translate(-50%, 0)
      height: 1px
      width: 76px
      background-color: #ffc600
