a
  text-decoration: none
  color: inherit

h1, h2, h3, h4, h5, h6
  font-weight: 400
  line-height: 1.2

strong
  font-weight: 400

small
  font-size: inherit

.letter
  display: inline-block
  min-width: .3em
  +r(840)
    display: inline

.h1, h1
  font-size: 42px
  +bold
  color: #fff
  +css-lock(24, 42, 768, 1199, font-size)
  strong
    font-size: 72px
    display: inline-block
    +css-lock(42, 72, 768, 1199, font-size)
  &.has-color-bg
    strong
      position: relative
      z-index: 1
      &::before
        content: ''
        position: absolute
        width: 37%
        background-color: $c-accent
        height: 70%
        top: calc(50% - .05em)
        transform: translate(0, -50%)
        right: -.15em
        z-index: -1

.h2, h2
  font-size: 30px
  color: #000
  text-transform: uppercase
  letter-spacing: .225em
  +css-lock(22, 30, 768, 1199, font-size)
  &.has-color-word
    small
      display: inline-block
      position: relative
      color: #fff
      z-index: 1
      &::before
        content: ''
        background-color: $c-accent
        position: absolute
        left: -5px
        right: -5px
        top: -5px
        bottom: 0

        z-index: -1
  &--white
    color: #fff


.h4, h4
  font-size: 18px
  color: #fff
  line-height: 1.4
  +md
    font-size: 15px
  &--black
    color: #000

.subttl
  color: #9d9d9d
  font-size: $fz
  +md
    font-size: 13px
  &--white
    color: #fff
  