@import "bourbon"
@import "vars"



//Custom screens
@media only screen and (max-width : 566px)
	.choose_industry_item
		img
			margin-bottom: 20px

@media only screen and (max-width : 466px)


	.our_blog_left
		img
			float: none
			margin: -40px 0 20px 

@media only screen and (max-width : 400px)
	.our_blog_left,
	.our_blog_right
		padding: 40px 20px 0

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.logos_carousel
		.owl-stage-outer
			width: 80%

	.quick_contact_item
		padding: 15px
		img
			margin-right: 10px

	.consultation_form
		input
			width: 100%

	.s_comments
		&:before,
		&:after
			width: 100%
			height: 50%
			top: 0
		&:after
			top: 50%

	.leave_message_form
		padding-left: 0





/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.logos_carousel
		.owl-stage-outer
			width: 75%
			margin-left: 12%

	.logo_icon_wrap
		margin-left: -14px

	.features
		h3
			font-size: em(15)
		p
			font-size: em(14)
		.col-lg-1:nth-child(1),
		.col-lg-1:nth-child(2)
			margin-left: 0
		.col-lg-1:nth-child(3),
		.col-lg-1:nth-child(4)
			margin-right: 0
			padding-left: 15px

	.testimonials_carousel
		&:before
			right: -25px

	.our_blog
		.col-lg-6:first-child
			padding-right: 15px

	.our_blog_right
		margin-left: 0

	.quick_contact_item
		text-align: center
		img
			float: none
			margin: 15px 0

	.subscribe
		input
			width: 85%

	.main_footer
		nav
			margin-bottom: 30px

	.copy_right_foot
		text-align: center
		ul
			float: none
			margin: 0

	.map
		margin-top: 40px

	.new_jobs_item
		text-align: center
		.button_wrap
			text-align: center
			margin-top: 30px

	.happy_clients
		.col-lg-6:nth-child(2)
			.happy_clients_item
				margin-top: 15%

	.our_projects
		.col-lg-6:nth-child(2)
			.our_projects_item
				margin-top: 70px

	.s_404
		text-align: center
		.s_404_right
			h2
				text-align: center



/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.toggle-mnu
		position: absolute
		right: 15px
		bottom: 60px
		margin: 0

	.top_contacts
		text-align: left
		margin-bottom: 10px


	.logos_carousel
		.owl-stage-outer
			width: 86%
			margin-left: 8%

	.boost_buiseness
		text-align: center
		span
			line-height: 1.6
		.button
			float: none
			margin-top: 15px

	.testimonials_carousel
		&:before
			right: -10px

	.main_footer
		h3
			margin-top: 30px
		.logo
			margin-top: 0

	.happy_clients_item
		text-align: center
		.h_c_item_img
			margin-bottom: 30px

	.h_c_carousel
		.h_c_carousel_item
			p
				padding-right: 0
			&:before
				left: 0

	.s_404
		.s_404_left
			font: bold em(148) $f_mon

	.comments
		img
			display: none
		.button
			width: 30%
		h4
			width: 68%
		.comment
			.visitor_comment
				width: 100%
			.visitor_photo
				width: 0
		.reply_comment
			.visitor_photo
				width: 10%
				padding-left: 0
			.visitor_comment
				width: 90%	
			.button
				width: 33%
			h4
				width: 65%


		






/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.logos_carousel
		.owl-stage-outer
			margin-left: 25%

	h1
		font-size: em(36)

	.our_projects_item
		.our_progect_img
			.our_projects_descr
				p
					display: none

	


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

