@import "bourbon"

$f_domine: "Domine", sans-serif
$f_mon: "Montserrat", sans-serif
$accent: #ffac55
$c_orange: #f6961b
$c_blue: #03b6e7
$bg_foot: #262829
$c_bluelight: #e7eff1
$c_brownlight: #fffaf3
$c_text: #838b8c
$c_head: #343a3b
$c_green: #16d428
$c_h_foot: #e1e1e1
$c_placeholder: #d4f6ff
$c_inp_bd: #7cddf7
$c_inp_bd_2: #cddbde
$c_shadow: #d5e3e6
=tr($time)
	transition: all ($time)
