@import "bourbon"
@import "vars"
@import "libs"

//Custom styles here
//-------------------- home page styles ---------------------
//-------------------- section about_us ---------------------
.about_us
	h2
		margin-bottom: 30px
	p
		text-align: center
	.button_wrap
		margin: 40px 0 7%

.logos_carousel
	border-top: 1px solid $c_bluelight
	padding: 55px 0 0
	a
		.carousel_img
			opacity: .25
			width: auto
			+tr(.5s)
		&:hover
			.carousel_img
				opacity: .8
	.owl-stage-outer
		width: 81%
		margin-left: 10%
	.owl-prev,
	.owl-next
		position: absolute
		width: 31px
		height: 31px
		top: 54px
	.owl-prev
		background: url("../img/icons/left_a.png") no-repeat
		left: 0
		&:hover
			background: url("../img/icons/left_a_hover.png") no-repeat
		&:active
			transform: translateX(-2px)
	.owl-next
		background: url("../img/icons/right_a.png") no-repeat
		right: 0
		&:hover
			background: url("../img/icons/right_a_hover.png") no-repeat
		&:active
			transform: translateX(2px)

//-------------------- section features ---------------------

.features
	padding-bottom: 0
	.container
		position: relative
	.col-lg-4:nth-child(1),
	.col-lg-4:nth-child(2),
	.col-lg-4:nth-child(3),
	.col-lg-4:nth-child(4)
		padding: 0
	.col-lg-1:nth-child(1),
	.col-lg-1:nth-child(2)
		margin-left: -15px
	.col-lg-1:nth-child(3),
	.col-lg-1:nth-child(4)
		margin-right: -15px
		padding-left: 30px

.feature_text,
.feature_icon
	margin-top: 70px

.feature_text
	h3
		margin-bottom: 15px
		font-size: em(17)

.feature_text_1,
.feature_text_2
	text-align: right

.feature_text_3,
.feature_text_4
	text-align: left

	

.feature_icon
	img
		vertical-align: text-top

.feature_icon_1,
.feature_icon_2
	text-align: right

.feature_icon_3,
.feature_icon_4
	text-align: left

.logo_icon
	width: 130px
	height: 130px
	background: #fff
	border-radius: 50%
	text-align: center
	box-shadow: 0 0 40px rgba(0,0,0,.1)
	display: inline-block
	img
		margin: 45px 0 0

.logo_icon_wrap
	position: absolute
	top: 30%
	width: 100%
	text-align: center
	margin-left: -20px
	z-index: 1

.boost_buiseness
	margin: 8% 0 0
	background: #565d5d
	padding: 15px 24px 15px 35px
	span
		font: em(20) $f_domine
		color: #fff
		display: inline-block
		line-height: 2.2
	.button
		float: right

//-------------------- section projects ---------------------

.projects
	h2
		margin-bottom: 30px
	.button_wrap
		margin-top: 40px

.pr_heading
	padding: 35px 25px 55px
	border: 1px solid $c_bluelight
	h3
		margin: 0 0 25px

.pr_img
	border: none
	img
		width: 100%
	.button
		position: absolute
		top: 20px
		left: 30px
		z-index: 2
	.owl-dots
		position: absolute
		z-index: 2
		bottom: 20px
		right: 20px

.pr_real_estate,
.pr_banking
	&:hover
		.pr_heading
			background: $c_orange
			border: 1px solid transparent
			+tr(.5s)
			h3,
			p
				color: #fff

//-------------------- section services ---------------------
.services
	background: $c_brownlight
	h2
		margin-bottom: 55px
	.button
		margin: 50px 0 0

.service_item
	.my
		color: $c_blue
		font-size: em(40)
		margin: 0 0 10px
	.my_e
		color: $accent
	h3
		margin-bottom: 15px

//-------------------- section testimonials ---------------------
.testimonials
	background: $c_blue
	padding-top: 0
	.container
		position: relative
	h2
		color: #fff
		margin-top: 8%
		margin-bottom: 140px
	.up_quats
		position: absolute
		top: 0
		left: 15px
		z-index: 0

.testimonials_carousel
	p
		position: relative
		&:after
			content: ''
			position: absolute
			width: 17px
			height: 2px
			bottom: -30px
			left: 49%
			background: #fff
			z-index: 2
	p,
	.client_name
		text-align: center
		color: #fff
	
	.client_name
		margin-top: 60px
		span
			font: em(15) $f_domine
			display: block
			line-height: 1.8
			&:nth-child(1)
				text-transform: uppercase
				font: bold em(14) $f_mon
			
	.owl-dots
		position: absolute
		top: -95px
		margin: 0
		width: 100%
		.owl-dot
			margin: 0 7px
			width: 55px
			height: 55px
			border: none
			opacity: .5
			&:nth-child(1)
				background: url("../img/clients/1.jpg") no-repeat
			&:nth-child(2)
				background: url("../img/clients/2.jpg") no-repeat
			&:nth-child(3)
				background: url("../img/clients/3.jpg") no-repeat
		.active
				border: none
				transform: scale(1.2)
				opacity: 1
				&:before
					background: none
	&:before
			content: ''
			position: absolute
			width: 30px
			height: 21px
			bottom: 90px
			right: -45px
			background: url("../img/testimonials_img/down_quats.png") no-repeat
			z-index: 2

//-------------------- section our blog ---------------------
.our_blog
	h2
		margin-bottom: 40px
	.col-lg-6:first-child
		padding-right: 0
	.button_wrap
		margin-top: 60px

.our_blog_left,	
.our_blog_right	
	padding: 40px 60px 0 50px
	background: #fff
	position: relative
	span
		font: em(15) $f_domine
		line-height: 1.8
		color: $c_head
		display: inline-block
	h3
		margin-bottom: 30px
	p
		margin-bottom: 20px
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 3px

.our_blog_left
	box-shadow: 0 0 50px $c_shadow
	z-index: 1
	img
		float: left
		margin: -40px 40px 0 -50px
	&:before
		background: $c_green

.our_blog_right
	margin-left: -15px
	&:before
		background: $accent

//-------------------- section quick contact ---------------------

.quick_contact
	h2
		margin-bottom: 30px

.quick_contact_item
	border: 1px solid $c_bluelight
	padding: 40px 25px 30px 35px
	img
		float: left
		margin-right: 35px
	a,
	span
		font: em(18) $f_domine
		color: $c_head
		line-height: 1.8
	span
		display: inline-block

//-------------------- main footer ---------------------

footer
	background: $bg_foot

.main_footer
	h3
		color: $c_h_foot
		margin-bottom: 35px
	ul
		list-style: none
		padding: 0
		margin: 0
		li
			a
				text-transform: uppercase
				font: em(13) $f_mon
				color: $c_text
	.enter_email
		font: em(15) $f_domine
		color: $c_text
		line-height: 1.8
	.logo
		margin-top: 30%

.subscribe
	position: relative
	margin-top: 40px
	input
		background: #323334
		color: $c_text
		text-indent: 30px
		height: 50px
		border-radius: 25px 0 0 25px
		border: none
		width: 80%
	input::-webkit-input-placeholder
		color: $c_text

	input:-moz-placeholder
		color: $c_text
		line-height: 3.5

	input::-moz-placeholder
		color: $c_text
		line-height: 3.5

	input:-ms-input-placeholder
		color: $c_text
		line-height: 3.5
	
	.button
		height: 50px
		position: absolute
		right: 0
		top: 0
		&:hover,
		&:focus,
		&:active
			background: $bg_foot

.dropdown_footer
	.footer_hidden_menu
		display: none
	ul
		margin-left: 15px
		li
			a
				font-size: em(11)
				position: relative
				z-index: 1
			
//-------------------- footer copyright ---------------------

.copy_right_foot
	span
		font: em(15) $f_domine
		color: $c_text

.ul_social_links
	list-style: none
	margin: 0
	padding: 0
	display: inline-block
	float: right
	margin-right: 50px
	li
		display: inline-block
		padding: 0 10px
		a
			font: em(13) $f_mon
			text-transform: uppercase
		&:nth-child(1)
			a
				color: #385da5
		&:nth-child(2)
			a
				color: #00b5da
		&:nth-child(3)
			a
				color: #d4c5a8
		&:nth-child(4)
			a
				color: #1883bb
		&:nth-child(5)
			a
				color: #e4463b

.copy_right_foot_wrap
	border-top: 1px solid #323334
	padding: 20px 0




//-------------------- about us page styles---------------------

//-------------------- about us info---------------------
.about_us_info
	h2
		margin-top: 8%
		&:nth-child(1)
			margin-top: 0
	p
		&:last-child
			margin-bottom: 30px

.consultation_form
	background: $c_blue
	padding: 40px 35px
	margin-top: 30px
	h3
		color: #fff
		margin-bottom: 30px
		font-size: em(24)
	input,
	textarea
		color: $c_placeholder !important
	input
		width: 47%
		margin-bottom: 10px
	textarea
		margin-bottom: 30px
		height: 90px
	.name
		margin-right: 15px

.video
	.mejs-controls
		display: none
	.mejs-overlay-button
		background: url("../img/video/play_btn.svg") no-repeat center
		+tr(.25s)
	&:hover
		.mejs-overlay-button
			transform: scale(1.2)
			background: url("../img/video/play_btn.svg") no-repeat center

//-------------------- 3 points---------------------


.three_points_item
	background: #fff
	text-align: center
	padding: 0 0 45px 
	img
		width: 100%
		border: none
	h3
		margin: 45px 0 25px
		font-size: em(24)
	p
		margin: 0 30px 40px





//------------------------industry page-----------

//----------------------choose industry section-------------
.choose_industry
	h2
		margin-bottom: 0


.choose_industry_item
	border: 1px solid $c_bluelight
	padding: 0 30px 0
	margin-top: 30px
	+tr(.25s)
	h3
		margin: 45px 0 25px
	img
		margin: 0 30px 0 -30px
		float: left
	.button
		margin: 35px 0 20px
	&:hover
		box-shadow: 0 0 30px $c_shadow





//------------------------services page-----------

//----------------------our services section-------------

.our_services
	h2
		margin-bottom: 0

.our_services_item
	margin-top: 40px
	padding-bottom: 110px
	border: 1px solid $c_bluelight
	position: relative
	img
		max-width: 100%
	ul
		list-style: none
		margin: 0 20px 0 50px
		li
			padding: 5px 0
			span
				font: em(15) $f_domine
				color: $c_text
			.my
				font-size: em(15)
				margin-right: 20px
				vertical-align: bottom
				color: $accent
	h3
		margin: 50px 0 35px 50px
	.button
		position: absolute
		bottom: 40px
		left: 50px




//------------------------contact us page-----------

//----------------------s_contact_us section-------------
.s_contact_us
	h2
		margin-bottom: 40px
		text-align: left


.s_contact_us_item
	margin-bottom: 40px
	.tr
		vertical-align: top
	.smp_icon
		color: $c_green
		font-size: em(24)
		float: left
		margin-right: 25px
	span,
	ul
		font: em(18) $f_domine
		color: $c_text
		line-height: 1.8
	ul
		list-style: none

//----------------------write to us section-------------
.write_to_us
	h2
		margin-bottom: 10px

.write_to_us_form
	.select
		overflow: hidden
		display: block
	select
		background: url("../img/select_arrow.svg") right 20px center no-repeat transparent
		border: none
		color: $c_head
		font: em(13) $f_mon
		text-transform: uppercase
		height: 30px
		appearance: none
		&::-ms-expand
			display: none
		width: 103% !important
	input,
	textarea,
	select
		border-bottom: 1px solid $c_inp_bd_2
		display: block
		width: 100%

	textarea
		height: 180px

	input,
	select,
	textarea,
	.button_wrap
		margin-top: 40px

	

	.write_to_us_form_el::-webkit-input-placeholder
		color: $c_head

	.write_to_us_form_el:-moz-placeholder
		color: $c_head


	.write_to_us_form_el::-moz-placeholder
		color: $c_head

	.write_to_us_form_el:-ms-input-placeholder
		color: $c_head

//---------------------- hidden form -------------
.service_start_form
	max-width: 600px
	margin: auto
	position: relative
	input
		width: 48%


//------------------------team page-----------

//----------------------s_our team section-------------

.s_our_team
	h2
		margin-bottom: 0
	.button_wrap
		margin-top: 70px

.our_team_item
	text-align: center
	padding: 30px 0 0
	border: 1px solid $c_bluelight
	margin-top: 40px
	+tr(.25s)
	img
		border-radius: 50%
	h4
		font-size: em(15)
		margin-top: 25px
	p
		padding: 0 15px
	.our_team_item_social
		margin-top: 35px
		background: $c_bluelight
		padding: 15px 0
		+tr(.25s)
		.simple_icon
			font-size: em(24)
			padding: 0 14px
			color: $c_text
			+tr(.25s)
	&:hover
		box-shadow: 0 0 40px $c_shadow
		.our_team_item_social
			background: $accent
			.simple_icon
				color: #fff

	a:hover,
	a:active,
	a:focus
		text-decoration: none




//------------------------career page-----------

//----------------------new jobs section-------------


.new_jobs_item
	border-top: 1px solid $c_bluelight
	padding: 30px 0 25px
	span
		font: em(15) $f_domine
		color: $c_text
		line-height: 2
	.simple_icon
		color: $c_green
		font-size: em(18)
		margin-right: 14px
		vertical-align: middle
	.col-lg-4
		span:nth-child(2)
			color: $c_head
			font: em(14) $f_mon
			text-transform: uppercase
	.button_wrap
		text-align: right
		margin-top: -15px

.new_jobs_item_top
	border-top: none

.new_jobs_form
	input,
	textarea
		width: 100%
		border-bottom: 1px solid $c_inp_bd_2
	.file_attach
		display: block
		position: relative
		overflow: hidden
		width: 100%
		border-bottom: 1px solid $c_inp_bd_2
		height: 30px
		input
			border-bottom: none
		.file_attach_cover
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: #fff
			z-index: 1
			span
				text-transform: uppercase
				font: em(13) $f_mon	
				color: $c_head
			.file_attach_btn
				color: $c_blue
				cursor: pointer

	.new_jobs_form_el::-webkit-input-placeholder
		color: $c_head

	.new_jobs_form_el:-moz-placeholder
		color: $c_head


	.new_jobs_form_el::-moz-placeholder
		color: $c_head

	.new_jobs_form_el:-ms-input-placeholder
		color: $c_head

	textarea
		height: 230px

	input,
	textarea,
	.file_attach,
	.button
		margin-top: 40px
	input[type="file"]
		margin-top: 0

//---------------------helped companies section-------------

.helped_companies
	text-align: center
	span
		font: em(13) $f_mon
		color: $c_text
		text-transform: uppercase
		letter-spacing: 2px




//------------------------testimonial page-----------

//----------------------happy clients section-------------

.happy_clients
	.col-lg-6:nth-child(1),
	.col-lg-6:nth-child(2)
		.happy_clients_item
			margin-top: 0

.happy_clients_item
	margin-top: 15%
	.h_c_item_img,
	.h_c_item_content
		vertical-align: top
	.h_c_item_img
		img
			border-radius: 50%
	.h_c_item_content
		padding: 0 20px 0 35px
		p
			margin-bottom: 40px
			position: relative
			&:after
				content: ''
				position: absolute
				bottom: -1.8em
				right: -20px
				background: url("../img/happy_clients/quates.svg") no-repeat
				width: 17px
				height: 12px
		span
			display: block
			&:nth-child(2)
				font: em(14) $f_mon
				text-transform: uppercase
				color: $c_head
			&:nth-child(3)
				font: em(13) $f_domine
				color: $c_text 
				line-height: 1.8

//----------------------happy_clients_carousel section-------------

.happy_clients_carousel
	background: url("../img/bg_happy_clients.jpg") center/cover no-repeat

.h_c_carousel
	position: relative
	padding: 15% 0
	.h_c_carousel_item
		padding-top: 30px
		p
			font-size: em(18)
			color: #fff
			margin-bottom: 40px
			line-height: 1.9
			padding-right: 75px
		.client_name
			span
				display: block
				&:nth-child(1)
					font: em(20) $f_mon
					color: #fff
					line-height: 1.9
				&:nth-child(2)
					font: em(14) $f_mon
					color: #caccce

		&:before,
		&:after
			content: ''
			position: absolute
			width: 45px
			height: 30px
			z-index: 2
		&:before
			top: 0
			left: -75px
			background: url("../img/happy_clients/up_quates.svg") no-repeat
		&:after
			bottom: 40px
			right: 0
			background: url("../img/happy_clients/down_quates.svg") no-repeat

	.owl-dots
		position: absolute
		bottom: -55px
		margin: 0
		width: 100%
		.owl-dot
			margin: 0 20px
			width: 90px
			height: 90px
			border: 5px solid #fff
			border-radius: 50%
			&:nth-child(1)
				background: url("../img/happy_clients/5.jpg") center no-repeat
			&:nth-child(2)
				background: url("../img/happy_clients/6.jpg") center no-repeat
			&:nth-child(3)
				background: url("../img/happy_clients/7.jpg") center no-repeat
			&:nth-child(4)
				background: url("../img/happy_clients/8.jpg") center no-repeat
		.active
			border: 5px solid #ffc588
			transform: scale(1.1)
			&:before
				border: 10px solid rgba(255,172,85,.4)
				background: transparent
				width: 108px
				height: 108px
				top: -14px
				right: -14px




//------------------------projects page-----------

//----------------------our projects section-------------

.our_projects
	.col-lg-6:nth-child(1),
	.col-lg-6:nth-child(2)
		.our_projects_item
			margin-top: 0

.our_projects_item
	margin-top: 70px
	h3
		margin-top: 30px
	.our_progect_img
		position: relative
		.our_projects_descr
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			opacity: 0
			+tr(.5s)
			p
				color: #ccc
				padding: 70px 50px 0
				height: 100%
		img
			width: 100%
			+tr(.5s)

		.button
			position: absolute
			top: 20px
			left: 20px
		.angle_up
			position: absolute
			bottom: -20px
			right: 20px
			width: 40px
			height: 40px
			background: $c_green
			text-align: center
			.fa
				font-size: em(20)
				font-weight: bold
				color: #fff
				line-height: 1.9
		
	&:hover
		.our_progect_img
			.our_projects_descr
				opacity: 1
				background: #000
			img
				opacity: .15





//------------------------pricing page-----------

//----------------------pricing plans section-------------

.pricing_plans
	h2
		margin-bottom: 0
	.col-lg-4:nth-child(2)
		.pricing_plans_item
			.pricing_plans_item_top
				background: $c_blue
	.col-lg-4:nth-child(3)
		.pricing_plans_item
			.pricing_plans_item_top
				background: #55bd77

.pricing_plans_item
	margin-top: 30px
	.pricing_plans_item_top
		background: $accent
		padding: 30px 40px
		span
			color: #fff
			font-family: $f_mon
			text-transform: uppercase
			&:nth-child(1)
				font-size: em(36)
			&:nth-child(2)
				font-size: em(13)
		h3
			opacity: .75
			color: #fff

	.pricing_plans_item_content
		border: 1px solid $c_bluelight
		padding: 50px 40px 150px
		position: relative
		ul
			list-style: none
			li
				padding: 5px 0
				span
					font: em(15) $f_domine
					color: $c_text
				.my
					font-size: em(15)
					margin-right: 20px
					vertical-align: bottom
					color: $accent
		.button
			position: absolute
			bottom: 60px
			left: 40px

//----------------------faq section-------------

.faq
	h4
		font-weight: bold
		background: url("../img/plus.png") center right no-repeat
		border-top: 1px solid $c_inp_bd_2
		padding: 40px 20px 40px 0
		cursor: pointer
		&:first-child
			border-top: none
	.p_wrap
		display: none
		margin-bottom: 50px
	.add_padding
		padding-bottom: 30px
	.minus
		background: url("../img/minus.png") center right no-repeat

//---------------------- hidden form -------------

.chosse_plan_form
	max-width: 600px
	margin: auto
	position: relative
	text-align: center
	background: $c_bluelight
	padding: 50px 25px









//------------------------blog page-----------

//----------------------s_blog section-------------

.s_blog
	h2
		margin-bottom: 0

.blog_item_tag
	margin: 30px
	background: $c_green
	padding: 2px 14px
	display: inline-block
	span
		color: #fff
		font: em(13) $f_mon
		text-transform: uppercase
		margin-right: 12px
	.fa
		color: #090909
		font-size: em(15)

.s_blog_item
	display: block
	margin-top: 30px
	border: 1px solid $c_bluelight
	position: relative
	+tr(.25s)
	
	h3
		margin-left: 30px
		+tr(.25s)
	p
		padding: 35px 40px 120px 30px
		+tr(.25s)
	.blog_item_share
		position: absolute
		bottom: 50px
		left: 0
		padding: 0 35px 0 30px
		width: 100%
		.fa,
		button,
		span
			color: $c_head
			float: left
		.fa
			font-size: em(15)
			line-height: 2
			+tr(.25s)
		span
			font: em(15) $f_domine
			line-height: 2
			margin-left: 10px
			+tr(.25s)
		button
			float: right
			padding: 0 8px
			border-radius: 50%
			display: block
			background: transparent
			border: none
			+tr(.5s)
			&:hover
				background: $accent

	&:hover
		background: $c_blue
		text-decoration: none
		.blog_item_share
			span
				color: #fff
			.fa
				color: $c_bluelight
		h3
			color: #fff
		p
			color: #c7eaf3
		a
			text-decoration: none

.s_blog_item_img
	.video
		margin-bottom: 30px
		display: block
	.blog_item_tag
		position: absolute
		z-index: 1
	img
		margin-bottom: 30px
		width: 100%
	&:hover
		background: #fff
		box-shadow: 0 0 40px $c_shadow
		.blog_item_share
			span
				color: $c_head
			.fa
				color: $c_head
		h3
			color: $c_head
		p
			color: $c_text

.s_blog_item_img_bg
	img
		margin: 0
	.blog_item_share
			span,
			.fa
				color: #fff
	&:hover
		.blog_item_share
			span,
			.fa
				color: #fff

.blog_page_link_wrap
	text-align: center
	margin-top: 75px
	.blog_page_link
		font: bold em(18) $f_mon
		color: $c_head
		border: 2px solid #97aaaf
		height: 50px
		width: 50px
		display: inline-block
		line-height: 2.6
		border-radius: 50%
		margin-right: 3px
		&:hover,
		&:active,
		&:focus
			text-decoration: none

//---------------------- hidden form -------------
.blog_share_form
	max-width: 600px
	margin: auto
	position: relative
	background: $c_bluelight
	text-align: center
	padding: 20px 10px
	label
		width: 100%
		input
			width: 70%
			border-bottom: 1px solid $c_inp_bd_2
		span
			text-transform: uppercase
			font: em(13) $f_mon
			color: $c_head

	h3
		margin-bottom: 30px
	.ul_social_links
		float: none
		margin: 30px 0 0



//------------------------blog_post page-----------

//----------------------s_blog_post section-------------

.blog_post_img
	position: relative
	.blog_item_tag
		position: absolute
		z-index: 1

.s_blog_post
	h3
		margin: 50px 0 30px
	img
		width: 100%
	.blog_post_social_wrap
		margin-top: 50px
		text-align: right
		.blog_post_social
			border: 1px solid $c_bluelight
			border-radius: 20px
			display: inline-block
			padding-left: 15px 
			ul
				list-style: none
				li
					display: inline-block
					padding: 7px 0 7px 
					width: 35px
					height: 35px
					border-radius: 50%
					text-align: center
					+tr(.5s)
					&:hover,
					&:last-child
						background: $accent
						transform: scale(1.1)
					.fa
					.fa,
					.simple_icon
						font-size: em(16)
						color: $c_text
						line-height: 1.4
						vertical-align: top

					a
						display: block

			

.blog_post_ul
	ul
		list-style: none
		margin: 60px 0
		li
			padding: 8px 0
			span
				font: em(15) $f_domine
				color: $c_text
			.my
				font-size: em(15)
				margin-right: 20px
				vertical-align: bottom
				color: $accent

.blog_post_content
	padding-bottom: 50px
	.top_pd_p
		padding-top: 55px

.related_post_head
	padding: 40px 0 0
	margin: 0 !important
	border-top: 1px solid $c_bluelight

.related_post_item
	margin-top: 15px
	display: block
	&:hover,
	&:focus,
	&:active
		text-decoration: none
	h4
		margin: 30px 0 0
	span
		font: em(13) $f_mon
		color: $accent
		text-transform: uppercase


//----------------------comments section-------------
.s_comments
	position: relative
	&:before,
	&:after
		content: ''
		position: absolute
		width: 50%
		height: 100%
		z-index: -1
		top: 0
	&:before
		left: 0
		background: #fbf5ef
	&:after
		right: 0
		background: $c_bluelight

.comments,
.leave_message
	padding: 70px 0 

.comments
	.comment
		.visitor_comment
			vertical-align: top
		.visitor_comment,
		.visitor_photo
			padding-top: 50px
		.visitor_comment
			width: 80%
		.visitor_photo
			width: 20%
	.reply_comment
		.visitor_photo
			width: 40%
			padding-left: 18%
		.visitor_comment
			width: 60%	
		.button
			width: 27%
		h4
			width: 71%
	img
		border-radius: 50%
		margin-right: 35px
	.button
		padding: 4px 20px
		width: 20%
	h4
		width: 79%
		display: inline-block	
		vertical-align: bottom
	p
		padding-top: 20px
	

.leave_message_form
	padding-left: 50px
	input,
	textarea
		border-bottom: 1px solid $c_inp_bd_2
	input
		margin-top: 50px
		width: 47%
		&:nth-child(2)
			margin-right: 20px
	textarea
		margin-top: 25px
		height: 270px
	.button
		margin-top: 50px

.leave_message_form_el::-webkit-input-placeholder
	color: $c_head

.leave_message_form_el:-moz-placeholder
	color: $c_head


.leave_message_form_el::-moz-placeholder
	color: $c_head

.leave_message_form_el:-ms-input-placeholder
	color: $c_head







//------------------------FAQ'S page-----------

//----------------------quick_support section-------------

.quick_support
	text-align: center
	span
		font: em(13) $f_mon
		color: $c_text
		text-transform: uppercase
		letter-spacing: 2px
	.button_wrap
		margin-top: 30px


//------------------------ 404 page-----------

//----------------------s_404 section-------------

.s_404
	.s_404_left
		color: $c_blue
		font: bold em(270) $f_mon

	.s_404_right
		h2
			text-align: left
			margin: 20px 0 0
		span
			font: em(20) $f_domine
			color: $c_text
			line-height: 1.8
			display: block
		.button
			margin-top: 50px





				

	

	


@import "media"
