+font('helveticaneuecyr-roman', 'helveticaneuecyr-roman-webfont')
+font('montserrat-bold', 'montserrat-bold-webfont')
+font('montserrat-light', 'montserrat-light-webfont')
+font('montserrat-regular', 'montserrat-regular-webfont')

=roman
  font-family: 'helveticaneuecyr-roman', Arial, sans-serif
=reg
  font-family: 'montserrat-regular', Arial, sans-serif
=bold
  font-family: 'montserrat-bold', Arial, sans-serif
=light
  font-family: 'montserrat-light', Arial, sans-serif

*
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  -moz-tap-highlight-color: rgba(0, 0, 0, 0)

img
  max-width: 100%

html
  background-color: #fff

body
  opacity: 1
  background: #FFF
  line-height: 1.7
  font-size: $fz
  +reg
  color: #9d9d9d
  +no-scroll
  +md
    font-size: 13px

.list
  &__item
    font-size: 18px
    color: #fff
    padding-left: 29px
    position: relative
    &::before
      content: ''
      position: absolute
      left: 12px
      top: 50%
      transform: translate(0, -50%)
      width: 5px
      height: 4px
      background-color: $c-accent

.blockquote
  $this: &
  background-color: #f3f3f3
  padding: 50px 25px
  position: relative
  margin-top: 22px
  margin-bottom: 30px
  text-align: left
  max-width: 100%
  +sm
    padding: 30px 15px
  &__icon-top,
  &__icon-bottom
    position: absolute
    +sm
      +scale(.7)
  &__icon-top
    left: 60px
    +css-lock(20, 60, 768, 1199, left)
    top: -22px
  &__icon-bottom
    // right: 108px
    +css-lock(30, 108, 768, 1199, right)
    bottom: -30px

  &--black
    background-color: #1a1a1a
    color: #9d9d9d
    padding: 32px 50px
    margin-top: 26px
    margin-bottom: 30px
    #{$this}__icon-top
      left: 59px
      top: -26px
    #{$this}__icon-bottom
      right: 49px
      bottom: -30px
    +md
      padding: 20px 30px
      #{$this}__icon-top
        left: 20px
      #{$this}__icon-bottom
        right: 20px

.btn
  display: inline-block
  text-transform: uppercase
  text-align: center
  position: relative
  background-color: #ffd200
  font-size: 18px
  padding: 16px 20px 14px
  color: #000
  transition: background-color .2s

  +hover
    // color: #fff
    background-color: darken(#ffd200, 10%)
    &::after
      transform: translate(0, 0)
      visibility: visible
  +md
    font-size: 16px
    padding: 12px 15px 10px
  +sm
    font-size: $fz
    padding: 10px 10px 8px
  &--full
    width: 100%

.contacts
  &__item
    color: #fff
    margin-bottom: 12px
    letter-spacing: .2em
  &__list
    margin-bottom: 45px
