.out
  overflow: hidden

.container
  +cont(1410)
  padding-left: 15px
  padding-right: 15px
  // height: 100%
  +clr
  position: relative
  &--full
    max-width: none
  &--flex
    display: flex
    +md
      display: block
    