<!-- begin s-about -->
<section class="s-about section">
  <div class="container container--flex">
    <div class="section__left">
      <div class="section__title">
        <h2 class="h2 has-color-word js-splitme">за что нас ценят <small>клиенты</small></h2>
      </div>

      <div class="section__quote">
        <!-- begin blockquote -->
        <blockquote class="blockquote">
          <div class="blockquote__icon-top"><i class="ic ic-quote"></i></div>
          <p>За весь период существования в IT индустрии мы сумели создать эффективную модель сотрудничества с клиентами, основой которой является возможность сокращать временные,  трудовые и, соответственно, финансовые расходы клиентов.</p>
          <div class="blockquote__icon-bottom"><i class="ic ic-quote-down"></i></div>
        </blockquote>
        <!-- end blockquote -->
      </div>

      <div class="section__text">
        <h4 class="h4 h4--black">Мы готовы подобрать те инструменты, которые принесут результат конкретно в Вашем бизнесе</h4>
        <p>Веб студия «Demiweb International» - компания, основанная в 2013 году, видом деятельности которой является разработка всевозможных Интернет решений. Благодаря богатому опыту работы с заказчиками из разнообразных отраслей деятельности мы способны предоставлять комплекс мероприятий, позволяющих успешно </p>
      </div>
    </div>

    <div class="section__right">
      <!-- begin section-img -->
      <div class="section-img" >
        <img src="img/ipad.png" alt="">
      </div>
      <!-- end section-img -->
    </div>
  </div>
</section>
<!-- end s-about -->