{%set
features = [
  {
    nmb: '1',
    title: 'Индивидуальный подход',
    text: 'Использование одной шаблонной схемы – не лучший вариант для клиентов, стремящихся к успеху собственного проекта. Наша веб студия Киев разрабатывает сайты, учитывая индивидуальные предпочтения и задачи, возлагаемые на проект'
  },
  {
    nmb: '2',
    title: 'Оптимизированный процесс 
работы с клиентами',
    text: 'За многие годы работы мы выработали определенную схему работы с разными категориями заказчиков, как с опытными клиентами, так и с клиентами, которые впервые столкнулись
 с задачей создания интернет-ресурса'
  },
  {
    nmb: '3',
    title: 'Прозрачное ценообразование',
    text: 'Подобного рода услуги могут  предоставляться студентом – самоучкой, сочетающим в себе несколько профессий или же избалованной солидными бюджетами компанией с огромным штатом сотрудников. Однако, как всем 
известно, нет ничего лучше «золотой середины»'
  },
  {
    nmb: '4',
    title: 'Заключение договора',
    text: 'Подобная формальность позволяет заказчикам быть уверенными в том, что наша компания в полном объеме и в указанный промежуток времени выполнит все обязательства'
  }
]
%}

<!-- begin s-features  -->
<section class="s-features section section--purple">
  <div class="container">
    <div class="section__title">
      <h2 class="h2 h2--white js-splitme">Нашу web-студию отличает ряд факторов</h2>
      <span class="subttl subttl--white">Благодаря богатому опыту работы с заказчиками из разнообразных отраслей деятельности мы способны предоставлять комплекс мероприятий, позволяющих успешно 
      реализовывать любые проекты</span>
    </div>

    <!-- begin features -->
    <div class="features">
      {% for i in features %}
      <!-- begin feature -->
      <div class="feature">
        <div class="feature__nmb">{{ i.nmb }}</div>
        <div class="feature__title">
          <h4 class="h4 h4--white">{{ i.title }}</h4>
        </div>
        <div class="feature__text">{{ i.text }}</div>
      </div>
      <!-- end feature -->
      {% endfor %}
    </div>
    <!-- end features -->
  </div>
  
  <div class="section-bg" style="background-image: url('img/lion-diff.png');"></div>
{# 
  <div class="section-bg-cols">
    <div class="section-bg-col"></div>
    <div class="section-bg-col"></div>
    <div class="section-bg-col"></div>
    <div class="section-bg-col"></div>
    <div class="section-bg-col"></div>
  </div> #}
  
</section>
<!-- end s-features  -->