{%set
guaranteeItems = [
  {
    icon: 'seven',
    title: 'Более 7 лет',
    subttl: 'Разрабатываем профессиональные проекты, которые выводят ваш бизнес в топ'
  },
  {
    icon: 'money-back',
    title: 'Финансовые гарантии',
    subttl: 'Возвращаем деньги 
при отсутствии 
результата'
  },
  {
    icon: 'guarantee',
    title: '365 дней гарантии',
    subttl: 'На разработанные нами проекты,
в случае недочетов устраняем
бесплатно'
  }
]
%}

<!-- begin s-guarantee -->
<section class="s-guarantee section section--black">
  <div class="container">
    <div class="section__block is-col-7">
      <!-- begin guarantee -->
      <div class="guarantee">
        {% for i in guaranteeItems %}
        <div class="guarantee-item">
          <div class="guarantee-item__inner">
            <div class="guarantee-item__icon"><i class="ic ic-{{ i.icon }}"></i></div>
            <div class="guarantee-item__title"><h4 class="h4">{{ i.title }}</h4></div>
            <div class="guarantee-item__subttl">{{ i.subttl }}</div>
          </div>
        </div>
        {% endfor %}        
      </div>
      <!-- end guarantee -->
    </div>    
  </div>

  <div class="section-bg section-bg--sm" style="background-image: url('img/lion-guarantee.png');"></div>
</section>
<!-- end s-guarantee -->