<!-- begin hero -->
<section class="hero section" data-anchor="hero">
  <div class="container">
    <div class="hero__block">
      <div class="hero__title">
        <h1 class="h1 has-color-bg js-splitme"><strong>«DEMIWEB»</strong> <br> надежный партнер<br> для Вашего бизнеса</h1>
      </div>

      <div class="hero__list">
        <!-- begin list -->
        <div class="list">
          <ul class="list__list">
            <li class="list__item">Почему нам стоит доверять? </li>
            <li class="list__item">Какие ценности мы преследуем? </li>
            <li class="list__item">Чем отличаемся от других?</li>
          </ul>
        </div>
        <!-- end list -->
      </div>

      <div class="hero__scroll-down">
        <!-- begin scroll-down -->
        <div class="scroll-down">
          <div class="scroll-down__title">Ответы на все эти вопросы смотрите ниже</div>
          <a href="#team" class="scroll-down__arr js-scroll-to"><span></span></a>
        </div>
        <!-- end scroll-down -->
      </div>      
    </div>    
  </div>

  <div class="section-bg" style="background-image: url('img/lion-hero.png');"></div>
</section>
<!-- end hero -->