{%set
priorities = [
  {
    icon: 'award',
    title: 'Качество ',
    text: 'Для нас всегда будет важно
делать качественный продукт, который 
соответствует вашим пожеланиям '
  },
  {
    icon: 'execution',
    title: 'Оперативность',
    text: 'Мы выполняем задачи 
максимально в кратчайшие сроки так, 
чтобы это не влияло на качество'
  },
  {
    icon: 'shield',
    title: 'Надежность',
    text: 'Для нас на первом месте наша 
репутация, поэтому вы можете быть 
уверены в гарантии нашей работы'
  },
  {
    icon: 'idea',
    title: 'Инновационность',
    text: 'В разработке каждого продукта<br>
мы используем новейшие<br>
технологии'
  }
]
%}

<!-- begin priority -->
<section class="s-priority section section--black">
  <div class="container">
    <div class="section__title">
      <h2 class="h2 h2--white js-splitme">наши приоритеты</h2>
      <span class="subttl">Компания Demiweb International следует определенным ценностям и правилам, которые
      мы обязуемся соблюдать не только перед вами, но и перед собой</span>
    </div>

    <div class="section__block">
      <!-- begin priority-list -->
      <div class="priority-list">
        {% for i in priorities %}
        <!-- begin priority-item -->
        <div class="priority-item">
          <div class="priority-item__icon">
            <i class="ic ic-{{i.icon}}"></i>
          </div>

          <div class="priority-item__inner">
            <div class="priority-item__title">
              <h4 class="h4">{{ i.title }}</h4>
            </div>

            <div class="priority-item__text">{{ i.text | safe }}</div>
          </div>
        </div>
        <!-- end priority-item -->
        {% endfor %}
      </div>
      <!-- end priority-list -->
    </div>
  </div>


</section>
<!-- end priority -->