<!-- begin s-questions -->
<section class="s-questions section section--dark">
  <div class="container">
    <div class="section__title">
      <h2 class="h2 h2--white js-splitme">У вас есть вопросы? Давайте обсудим</h2>
      <span class="subttl subttl--white">Мы всегда рады ответить на Ваши вопросы, <br>
      выслушать Ваши мнения и предложения.</span>
    </div>

    <div class="section__questions">
      <!-- begin questions -->
      <div class="questions">
        <div class="questions__col is-left">
          <div class="questions__logo">
            <img src="img/lion-logo.png" alt="" width="392" height="392">
          </div>
        </div>

        <div class="questions__col is-center">
          <!-- begin contacts -->
          <div class="contacts">
            <ul class="contacts__list">
              <li class="contacts__item">Ждем вашего звонка:</li>
              <li class="contacts__item">+38 (097) 887 6000</li>
              <li class="contacts__item">+38 (093) 887 6000</li>
            </ul>

            <div class="contacts__btn">
              <a href="#" class="btn btn--full">заказать звонок</a>
            </div>
          </div>
          <!-- end contacts -->
        </div>
        <div class="questions__col">
          <blockquote class="blockquote blockquote--black">
            <div class="blockquote__icon-top"><i class="ic ic-quote"></i></div>
            <p>Мы можем гарантировать, что ваш проект будет 
              готов в пределах поставленных сроков, 
            качественно и по оптимальной цене</p>
            <div class="blockquote__icon-bottom"><i class="ic ic-quote-down"></i></div>
          </blockquote>
        </div>
      </div>
      <!-- end questions -->
    </div>
  </div>
</section>
<!-- end s-questions -->