@import "bourbon"
@import "vars"

*::-webkit-input-placeholder
	color: #ccc
	opacity: 1

*:-moz-placeholder
	color: #ccc
	opacity: 1

*::-moz-placeholder
	color: #ccc
	opacity: 1

*:-ms-input-placeholder
	color: #ccc
	opacity: 1


body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
	box-shadow: 0 0 2px red
body input:required:valid,
body textarea:required:valid
	color: #333
	box-shadow: 0 0 2px $accent

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: $f_reg
	overflow-x: hidden

.button
	display: inline-block
	border: solid 1px #ececec
	border-radius: 20px
	padding: 6px 29px
	+tr(.5s)

h1,h2,h3,h4,h5,h6
	font-weight: normal
	
h1,h2
	margin: 10% 0 0
	font-family: $f_light
	font-size: em(48)
	font-weight: normal
	line-height: em(16)
	text-align: center

h2
	margin-bottom: 5% 
