@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Custom styles*/


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.main_footer
		text-align: center
		.col-sm-6
			&:first-child
				text-align: left
		.row
			.col-lg-3
				padding-left: 15px

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	h1,h2
		font-size: em(30)

	.carousel-wrap
		.carousel
			.slide
				padding: 23% 7% 3% 10%

	.packages
		.tiezer
			margin-bottom: 10px

	.tabs
		.tab_1
			.or
				right: -10%

	.main_footer
		text-align: left
		.ftr_email_field
			width: 78%
		h5
			font-size: em(14) !important

	.sign_up_proc
		.carousel
			.fa
				margin-right: 56px
		.c_buttons
			.prev,
			.next
				left: 200px




/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.logo
		font-size: em(22)

	.carousel-wrap
		.carousel
			.slide
				ol
					font-size: em(14)
				h3
					font-size: em(19)
					line-height: 2
			.fa
				font-size: em(50) 
		.c_dots
			a
				vertical-align: top
				width: 32%
				margin-right: 0

	.sign_up_proc
		.carousel
			.fa
				margin-right: 10px
		.c_buttons
			.prev,
			.next
				left: 130px




	

		


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	.sign_up_proc
		.carousel
			.fa
				margin-right: 40px
		.c_buttons
			.prev,
			.next
				left: 300px


