@import "bourbon"

$f_reg: "RobotoRegular", sans-serif
$f_bold: "RobotoBold", sans-serif
$f_light: "RobotoLight", sans-serif
$f_l_italic: "RobotoLightItalic", sans-serif
$f_medium: "RobotoMedium", sans-serif
$f_thin: "RobotoThin", sans-serif
$f_t_italic: "RobotoThinInalic", sans-serif
$f_basic7: "BasicSansSerif7", sans-serif
$accent: #5db442
=tr($time)
	transition: all $time ease
