@import "bourbon"
@import "vars"
@import "libs"

//Custom styles here

@import "media"

/*-----------------section sign_up_proc----------------*/

.sign_up_proc
	background: url(../img/bg_sign_up.jpg) center/cover
	position: relative
	&::before
		content: ''
		position: absolute
		z-index: 0
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: rgba(0,0,0,.6)

	h2
		color: #fff

.carousel-wrap
	position: relative
.carousel
	.c_li
		max-width: 100%
	.slide
		background: rgba(255,255,255,.15)
		padding: 14% 17% 8% 23%
		h3
			margin: 0 
			font-size: em(26)
			text-transform: uppercase
			color: $accent
			font-family: $f_thin
			text-align: left
			vertical-align: top
		ol
			color: #fff
			font-family: $f_light
			font-size: em(16)
			text-align: left
			display: inline-block
			width: 75%
			padding: 0
			margin: 0
			float: right
			li
	.fa
		display: inline-block
		font-size: em(80)
		color: $accent
		float: left
		margin-right: 18px
		
.c_buttons
	.prev,
	.next
		background: url(../img/sld_arrows.png) no-repeat
		position: absolute
		z-index: 2
		left: 240px
		width: 56px
		height: 14px
	.prev
		background-position: center top
		top: 30px
		&:active
			transform: translateY(-2px)
	.next
		background-position: center bottom
		top: 55px
		&:active
			transform: translateY(2px)

.c_dots
	text-align: center
	a
		display: inline-block
		margin: 5% 40px 10% 0
		color: #fff
		text-align: center
		+tr(.25s)
		&:hover,
		&:active,
		&:focus
			text-decoration: none			
			.fa
				color: $accent
			.dot_icon
				background: #fff
	.dot_title
		font-family: $f_reg
		font-size: em(12)
		display: block
	.fa
		font-size: em(24)
		line-height: 2.5

	.dot_icon
		background: #3d5a27
		border-radius: 50%
		width: 60px
		height: 60px
		display: inline-block
		margin-bottom: 10px
		+tr(.5s)
	.fa
		+tr(.5s)

/*----------------------section packages--------------*/

.packages
	padding-bottom: 10%
	h2
		color: #000
	.tab_item 
		display: none
		&:first-child
			display: block 

.tabs
		text-align: center
		font-family: $f_reg
		font-size: em(12)
		color: #333
		margin-bottom: 5%
		.tab_1
			border-radius: 20px 0 0 20px
			cursor: pointer
			margin-right: -3px
			position: relative
		.tab_2
			border-radius: 0 20px 20px 0
			cursor: pointer
		.active
			background: $accent
			color: #fff
		.or
			position: absolute
			top: 3px
			right: -7.5%
			text-transform: uppercase
			color: #fff
			background: #4ca368
			padding: 3px
			border-radius: 50%

.tiezer
	border: 1px solid #ececec
	text-align: center
	font-family: $f_medium
	color: #777
	position: relative
	+tr(.5s)
	h4
		font-size: em(14)
		text-transform: uppercase
		color: #333
		margin-top: 25px
		margin-bottom: 25px
		position: relative
		&:before
			content: ''
			position: absolute
			width: 25%
			top: -25px
			left: 37.5%
			height: 2px
			background: #ccc
			+tr(.5s)
		&:after
			content: ''
			position: absolute
			width: 100%
			bottom: -72px
			left: 0
			height: 1px
			background: #ececec
			z-index: -1
	ul
		margin: 30px 0
		list-style: none
		padding: 0
		font-size: em(12)
		li
			line-height: 2.5
	.fa
		margin-right: 8px
		color: #ccc
	.fa_available
		color: $accent
	&:hover,
	&:active,
	&:focus
		.tiezer_btn
			background: $accent
			color: #fff
			text-decoration: none
		h4:before
			background: $accent


.tiezer_btn
	font-family: $f_reg
	color: #333
	text-transform: uppercase
	font-size: em(10)
	margin-bottom: 35px

.per_month_wrap
	font-family: $f_l_italic
	font-size: em(10)
	color: #777
	border: 3px solid #cecece
	border-radius: 50%
	width: 96px
	height: 96px
	background: #fff
	display: inline-block
	.per_month
		padding: 20px
		border: 1px solid $accent
		border-radius: 50%
		width: 90px
		height: 90px
	span
		font-family: $f_medium
		font-size: 23px
		color: #333
		display: block

/*--------------------section some_items-------------------*/

.some_items
	background: url(../img/bg_some_items.png)
	padding-bottom: 8%

.item
	display: block
	text-align: center
	padding: 40px 15px 55px
	background-color: #fff
	box-shadow: 0 2px 2px rgba(204, 204, 204, .5)
	margin-bottom: 30px
	+tr(.5s)
	&:hover,
	&:active,
	&:focus
		background: $accent
		color: #fff
		text-decoration: none
		.fa,
		h4,
		p
			color: #fff
	.fa
		font-size: em(60)
		color: $accent
		line-height: 1
	p
		font-size: em(12)
		font-family: $f_reg
		color: #777
	h4
		font-family: $f_reg
		font-size: em(16)
		text-transform: uppercase
		color: #333
		margin-top: 40px
		margin-bottom: 35px
		position: relative
		&:after
			content: ''
			position: absolute
			width: 35%
			top: -20px
			left: 31%
			height: 2px
			background: #ececec
			+tr(.5s)

/*-----------------------footer--------------------------*/

.main_footer
	position: relative
	padding: 7% 0 5%
	background: #efefef
	.col-lg-3
		padding-left: 70px
	h5
		font-family: $f_reg
		font-size: em(16)
		color: #000
		margin-bottom: 35px
	p
		font-family: $f_light
		font-size: em(12)
		margin-bottom: 25px
	ul
		list-style: none
		padding: 0
		li
			a
				font-family: $f_light
				font-size: em(13)
				text-transform: uppercase
				color: #333
				border-bottom: 1px solid transparent
				+tr(.25s)
				&:hover,
				&:focus,
				&:active
					text-decoration: none
					border-bottom: 1px solid #333
	&:after
		content: ''
		position: absolute
		width: 100%
		height: 1px
		bottom: 0
		background: #e1e2e3

.ftr_email_field
	color: #333	
	font-family: $f_t_italic
	font-size: em(12)
	height: 3.65em
	background: #fff
	border: none
	text-indent: 10px
	width: 70%
	vertical-align: bottom

.ftr_email_btn
	background: $accent
	border: none
	font-size: em(22)
	line-height: 2
	margin-left: -3px
	padding: 0 25px
	vertical-align: bottom
	color: #fff
	&:active
		transform: translateY(1px)

.dsnr_footer
	background: #efefef
	text-align: right
	padding: 45px 0 50px
	.col-xs-6:nth-child(1)
		span
			font-family: $f_basic7
			font-size: em(20)
			color: #636666
			text-transform: uppercase
			float: left
	span
		display: inline-block
			
	.copyright
		font-family: $f_light
		font-size: em(11)
		color: #777

.hidden_form
	background: #efefef
	border: 2px solid  $accent
	border-radius: 3px
	margin: 40px auto
	max-width: 450px
	padding: 20px 30px
	position: relative
	text-align: center
	label
		display: block
		.form_name,
		.form_email
			display: block
			margin: 5% auto
			font-family: $f_light
			font-size: em(14)
			line-height: 2.7
			height: 2.7em
			background: #fff
			border: 1px solid #ccc
			width: 100%
			box-shadow: none
		span
			font-family: $f_reg
			font-size: em(16)
			color: #000
	.sign_btn
		float: none
		display: inline-block
		background: #fff
		&:hover
			cursor: pointer
			background: $accent







