{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#fff"/>
    <meta name="format-detection" content="telephone=no"/>
    <style>
      html {
        background-color: #000;
      }
      body {
        opacity: 0;
      }
      .overlay {
        position: fixed;
        z-index: 100;
        background-color: #000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    </style>
    <link rel="stylesheet" media="all" href="css/app.css"/>
    {# {% include "../partials/_media-tags.html" %} #}
  </head>
  <body>

    <div class="overlay"></div>

    <!-- BEGIN content -->
    <div class="out">
      {% block content %}{% endblock %}
    </div>
    <!-- END content -->

    <!-- BEGIN scripts -->
    <script type="text/javascript" src="js/app.js"></script>
    <!-- END scripts -->

  </body>
</html>
